


<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <img class="img-fluid" id="burger-image"src="assets/img/burger-image.png">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Eat-Da-Burger!</h1>
        </div>
    </div>
<div class="row">
    <div class="col-md-4 offset-md-2" <div id="uneaten">
       
        {{#each burgers}} {{#unless devoured}}
        <div class="undevoured card-body d-inline-block">{{this.id}}. {{this.burger_name}}</div>
        <div class="d-inline-block">
            <button type="submit" value="{{this.id}}" class="devourButton">Devour!</button>
        </div>
        <br>
        {{/unless}} {{/each}}
    </div>
    <div class="col-md-6">
       
        <div id="eaten">

            {{#each burgers}}
            {{#if devoured}} <div class="card-body devoured">{{this.id}}. {{this.burger_name}}<br></div>
                 {{/if}} {{/each}}

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Add a Burger</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="create-form text-center">
            <div class="form-group">
                <label for="new-burger"></label>
                <input type="text" id="new-burger" name="name">
            </div>
                <button type="submit">Add Burger</button>
        </form>
    </div>
</div>
<script>
    $(".create-form").on("submit", function (event) {
        // Make sure to preventDefault on a submit event.
        event.preventDefault();

        var newBurger = { burgerName: $("#new-burger").val().trim() };

        console.log(newBurger);
        // Send the POST request.
        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then(
            function () {
                console.log(newBurger);
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });
    $(".devourButton").on("click", function (event) {
        var id = $(this).val();
        console.log(id)
        var burgerId = {
            burgerId: id
        };
        // Send the PUT request.
        $.ajax("/api/devour/", {
            type: "PUT",
            data: burgerId
        }).then(function(){
            location.reload();
        });
    })


</script>